<div id="index">
  <h1>Progress Home</h1>
  <%= @foo.each do |f| %>
    hi
  <% end %>
  <ul>
    <li><a href="/progress/short">Short Time-Lapse</a></li>
    <li><a href="/progress/day">Day-Lapse</a></li>
    <li><a href="/progress/graph">Graph</a></li>
  <ul>
</div>
